/* .resourcer--avatar {
    height: 200px;
} */

.productPic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 22px;
    border-radius: 5px;
}

.product-link:link, product-link:visited {
    color: #000;
}

.product-link:hover, product-link:active {
    color: #000;
    text-decoration: none;
}